%h1 Messages
- @messages.each do |message|
  .panel.panel-default
    .panel-heading
      %h4= message.name
    .panel-body= message.message

.col-md-6.col-md-offset-3
  .message-form
    = render 'form', message: @message